{% extends 'base/test.base.tpl' %}

{%block css%}
	<link href="{{c.resPath}}/common/demo/demo.css" type="text/css" rel="stylesheet" media="all" />
{%endblock%}


 {%block content%}

	<script type="text/javascript">
	//<!--
		//assert.equal(value,
			//expect,
			//'value——expect'
		//);
		//assert.deepEqual(value,[
			
		//], 'value——expect');
		requirejs(["common/demo/demo"], function($$m) {

			QUnit.test( "test case name", function( assert ) {

				$$m()
				assert.equal('value',
					'expect',
					'value-expect'
				);
			});


		});
	//-->
	</script>

 {%endblock%}

